<!DOCTYPE html>
<html>

<head>
	<title>AAK Telescience</title>
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/login.css" />
	<script src="../js/reset.js"></script>
</head>

<body>
	<section class="login-form">
		<form class="box">
			<h2 style="color:black;">Reset Password</h1>
				<p class="text-muted"> Please enter your login and password!</p> <br>
				<input type="text" id="email" name="" placeholder="Email" />
				<input type="submit" name="" value="Submit" onclick="resetPassword(); return false;" />
				<div id="reset_success" style="display:none;">
					<p style="color: green;">Success!</p>
					<p class="text-muted">Your reset password link will expire in 5 mins</p><br>
				</div>
				<div id="reset_fail" style="display:none;">
					<p style="color: red;">Invalid Email!</p>
					<p class="text-muted">Please Enter a Valid Email</p><br>
				</div>
				<br>
				<button class="button logout" formaction="./index.html" style="padding: 5px 10px">Go Back</button>
				
				<img src="../../assets/images/info_button.png" alt="Girl in a jacket" width="15" height="20"
					style="padding-bottom: 4px;">
				<p class="text-muted text-info">
					Versions:
					<script>
						document.write(process.versions.node) 
					</script>, Chrome
					<script>
						document.write(process.versions.chrome) 
					</script>, and Electron
					<script>
						document.write(process.versions.electron) 
					</script>.
				</p>
		</form>
	</section>
</body>

</html>