<!DOCTYPE html>
<html>

<head>
	<title>Venmo Automation</title>
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../css/login.css" />
	<script src="../js/login.js"></script>
</head>

<body>
	<section class="login-form">
		<form class="box">
			<h1 style="color:black;">Login</h1>
			<p class="text-muted">Please enter your email and password!</p>
			<input class="text-white" type="text" id="email" name="" placeholder="Email"/>
			<input class="text-white" type="password" id="password" name="" placeholder="Password"/>
			<a class="forgot text-muted" target="_blank" rel="noopener noreferrer" href="https://venmo.com/account/password-reset">Forgot password?</a>
			<input type="submit" name="" value="Login" onclick="venmoLogin(); return false;"/>
			<p class="text-danger" id="loginError" style="display: none;">Your login information was incorrect. Please try again.</p>
			<p class="text-success" id="loginSuccess" style="display: none;">Login successful!</p>
			<br>
			<img src="../../assets/images/info_button.png" alt="Girl in a jacket" width="15" height="20"
				style="padding-bottom: 4px;">
			

			<!-- Browser Versions -->
			Versions:
			<script>
				document.write(process.versions.node) 
			</script>, Chrome
			<script>
				document.write(process.versions.chrome) 
			</script>, and Electron
			<script>
				document.write(process.versions.electron) 
			</script>.
		</form>
	</section>
</body>

</html>