<!DOCTYPE html>
<html>

<head>
  <title>AAK Telescience</title>
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../css/dashboard.css" />
  <!-- https://electronjs.org/docs/tutorial 
                           /security#csp-meta-tag -->
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />

</head>

<body>
  <section class="dashboard">
    <div class="box">
      <h1 style="color:black;">Upload a File</h1>
      <h3>Choose a File to Upload</h3>
      <p class="text-muted">Please choose a .txt, .docx, or .pdf file</p>
      <br>
      <p id="fileName"></p>
      <button class="button upload" id="upload">Upload File</button>
      <form>
        <button class="button logout" formaction="./dashboard.html" style="padding: 5px 10px">Go Back</button>
      </form>

      <h3>Your Keywords:</h3>
      <div class="keyword-box">
        <div class="row justify-content-center" id="refinedWords" style="align-items: center;">
          <!-- your keywords -->
        </div>  
      </div>

      <div class="row">
        <div class="col-8" align="left" style="padding-top: 4px; padding-right: 300px;">
          <input class="text-white" type="text" name="setword" id="newKeywords" placeholder="Custom keywords"/>
        </div>
        <div class="col-2" style="padding-left: 60px;">
          <input type="submit" name="setword" id="addNewKeywords" value="Add Keyword" onclick="setKeywords(); return false;"/>
        </div>
      </div>

      <input type="submit" name="" value="Set Keywords" onclick="sendKeywords(); return false;"/>

      <br>

      <script src="../js/login.js"></script>
      <script src="../js/upload.js"></script>
      <script src="../js/send_keywords.js"></script>


      <img src="../../assets/images/info_button.png" alt="Girl in a jacket" width="15" height="20"
        style="padding-bottom: 4px;">
      Versions:
      <script>
        document.write(process.versions.node) 
      </script>, Chrome
      <script>
        document.write(process.versions.chrome) 
      </script>, and Electron
      <script>
        document.write(process.versions.electron) 
      </script>.
    </div>
  </section>
</body>

</html>